@media(max-width: 940px){
    .header_sec{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .satis .container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .gallary_block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .feature_block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .feature_box{
        width: 47%;
    }
    .footer .container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer .container ul{
        width: 33%;
    }
    .test_block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .sign .container{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(max-width: 519px){
    .gallary_block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .gallary_block > div{
        width: 100%;
        max-width: 1000px;
    }
    .feature_block{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .feature_box{
        width: 47%;
        text-align: center;
    }
    .footer .container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer .container ul{
        width: 33%;
        text-align: center;
    }
    .test_block{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .sign .container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}
@media(max-width: 680px){
    .header_menu{
        display: none;
    }
    .footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        jcc
    }
}